*.suo
*.user
*.ReSharper
*.orig
_ReSharper.*
obj
bin
Bin
Logs
Export
TempStore
ClientBin
/Starnet/TestResults
/Starnet/Resources/GermanResourcesFromStefan.vslp
*.StyleCop
Starnet/Web/ClientCrashDumps/
*.dotCover
*.ncrunchsolution
*.JustCode
*.jtconfig
~$*.docx
*.DotSettings
deploy/
/Starnet/packages
/Build.Tasks/packages
Debug
*.opensdf
*.sdf
Starnet/Debug/
Starnet/Release/
*.ipch
Debug
Release
Starnet/Philips.Eco.Build.Tasks.pdb
Starnet/Philips.Eco.Build.Tasks.dll
Starnet/Core/Database/SQL/PostgreSQL/SiteDB/UpdateScripts - Shortcut.lnk
*.orig
*.stackdump

# NCrunch
*.ncrunch*
_NCrunch_*
.*crunch*.local.xml

*.sln.docstates.suo
*.*.suo
bin/
obj/
*.csproj.user
*.cache
*.user
.svn
_ReSharper.EventsOnSetters/
